# Redis Connection
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Proxy (Required for real scraping)
# Format: http://user:pass@proxy-host:port
RESIDENTIAL_PROXY_URL=

# Scraper Specifics
ZEPTO_API_URL=https://api.mock-qcommerce.com/v1/search
ZEPTO_DEMO_TOKEN=mock_token_12345678

# Worker Specifics
PORT=3001
NODE_ENV=development
